# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore IDE specific files
*.idea/
*.project
*.classpath
*.settings/
.vscode/

# Ignore build directories
/bin/
/target/
/out/
